<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title><%= title %></title>

    <link rel="stylesheet" href="/mdi/material-icons.css"/>
    <link rel="stylesheet" href="/mdl/material.deep_orange-blue.min.css"/>

    <style>

        body {
            background: lightgrey;
        }

        .mdl-cell {
            background: black;
            color: white;
            text-align: center;
            margin: 4px;
        }

        .mdl-cell.form {
            background: none;
        }

        .mdl-cell.message {
            background: #FF5722;
            color: yellow;
            padding: 10px;
        }

        #progressbar {
            display: none;
        }

    </style>

    <script src="/socket.io/socket.io.js"></script>
    <script defer src="/mdl/material.min.js"></script>

</head>
<body>

<div class="content-grid mdl-grid">

    <div class="mdl-layout-title mdl-shadow--8dp mdl-cell mdl-cell--6-col-desktop mdl-cell--3-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
        <h5><%= title %></h5>
        <h6><%= subTitle %></h6>
    </div>

    <div id="message"
         class="message mdl-shadow--8dp mdl-cell mdl-cell--6-col-desktop mdl-cell--3-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
        <%= message %>
        <br/>
        <%= directory %>
    </div>

    <div id="progressbar"
         class="mdl-progress mdl-js-progress mdl-progress__indeterminate mdl-cell mdl-cell--6-col-desktop mdl-cell--3-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone"></div>

    <div class="form mdl-cell mdl-cell--6-col-desktop mdl-cell--3-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
        <form method="POST" action="/">
            <button name="action" type="submit" value="Exit"
                    class="mdl-shadow--8dp mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i class="material-icons">clear</i></button>
            <button id="install" name="action" type="button" value="Install"
                    class="mdl-shadow--8dp mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i class="material-icons">file_download</i></button>
        </form>
    </div>

</div>

<script>
    const message = document.getElementById('message');
    const progressbar = document.getElementById('progressbar');
    const installSocket = io.connect(`${location.origin}/install`, {
        transports: ['websocket'],
        forceNew: false,
        reconnection: true,
        reconnectionDelay: 500
    });
    installSocket.on('connect_failed', () => {
        message.innerText = 'Socket Connection failed.';
    });
    installSocket.on('disconnect', () => {
        //message.innerText = 'Socket Disconnect.';
    });
    installSocket.on('error', () => {
        message.innerText = 'Socket Error.';
    });
    installSocket.on('connect', () => {
        const button = document.getElementById('install');
        installSocket.on('status', (data) => {
            switch (data.type) {
                case 'downloading':
                    message.innerText = 'Downloading...';
                    progressbar.style.display = 'inline';
                    break;
                case 'fail':
                    message.innerText = `Fail: ${data.msg}`;
                    progressbar.style.display = 'none';
                    installSocket.disconnect();
                    break;
                case 'complete':
                    message.innerText = 'Complete';
                    progressbar.style.display = 'none';
                    installSocket.disconnect();
                    window.location.replace('/');
                    break;
            }
        });
        button.addEventListener('click', () => {
            installSocket.emit('download');
        });
    });
</script>

</body>
</html>